.cont{
    width: 100%;
    height: 100vh;
    background: url(https://t3.ftcdn.net/jpg/02/64/45/14/360_F_264451404_s4Dhf0mQZdg1N4Gx9RrwfnIIjBiZQ459.jpg);
    background-position: center;
    background-size: cover;
}